@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
* {
     padding: 0;
     margin: 0;
     list-style: none;
     box-sizing: border-box;
}
body{
     background-color: orange;
}
.from-booknow {
     height: 100%;
     width: 100%;
     display: flex;
     position: absolute;
     justify-content: center;
     align-items: center;
     top: 0;
     left: 0;
     background-color: rgb(255, 255, 255, 0.4);
     transition: 0.4s;
     opacity:1;
     overflow: hidden;
}

.from-booknow.activet {
     transition: 0.4s;
     left: 0;
     opacity: 1;
}

/* Book now */
.from2-booknow {
     position: relative;
     width: 420px;
     height: 540px;
     padding: 10px;
     background-color: black;
     overflow: hidden;
}

.input-field-booknow {
     background-color: transparent;
     text-align: center;
     border-radius: 10px;
     padding: 12px 5px;
     justify-content: center;
     align-items: center;
     position: absolute;
     transition: 0.2s;
}

.input-field-booknow form h3 {
     color: white;
     font-family: 'League Gothic', sans-serif;
     font-size: 40px;
     padding-bottom: 10px;
}

.input-field-booknow form .box {
     border: none;
     margin: 5px -3px;
     width: 100%;
     padding: 12px 5px;
     border-radius: 10px;
     font-size: 15px;
}

.from-booknow #back-booking{
     position: absolute;
     top: 10%;
     left: 10%;
     color: white;
     cursor: pointer;
     
}

.input-field-booknow form p {
     color: white;
     font-family: 'League Gothic', sans-serif;
     padding: 1rem;
     font-size: 20px;
}

.input-field-booknow form p a {
     display: inline-block;
     color: rgb(84, 84, 216);
}

.input-field-booknow form .btn {
     font-family: 'League Gothic', sans-serif;
     padding: 10px 25px;
     font-size: 25px;
     border: none;
     border-radius: 10px;
     background-color: rgb(84, 84, 216);
     color: white;
     width: 100%;
     cursor: pointer;
}
.pickup{
     display: block;
     color: white;
     font-family: 'League Gothic', sans-serif;
     font-size: 24px;
}
.tgl-con{
     padding: 5px 0;
}
.date{
     border: none;
     margin: 5px -3px;
     width: 80%;
     padding: 10px 5px;
     border-radius: 10px;
     font-size: 15px;
}