/* Header */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
html{
     scroll-behavior: smooth;
     
}
* {
     padding: 0;
     margin: 0;
     list-style: none;
     box-sizing: border-box;
}

body {
     
     background-color: black;
     
}
header {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 80px;
     width: 100%;
     position: sticky;
     z-index: 100;
     top: 0;
     left: 0;
     right: 0;
     backdrop-filter: blur(4px);
}

.logo span {
     color: rgb(84, 84, 216);
}

label.logo {
     font-size: 45px;
     font-family: fantasy;
     color: #F9F9F9;
     font-weight: bold;
     /* padding: 0 100px; */
}

nav ul {
     padding: 0;
     margin: 0;
     float: right;
     list-style: none;
     align-items: center;
}

nav ul li {
     display: inline-block;
     padding: 0;
     margin: 0 20px;
     font-size: 30px;
}

nav ul li a {
     font-family: 'League Gothic', sans-serif;
     color: #F9F9F9;
     text-decoration: none;
     padding: 0px 15px;
     border-radius: 10px;
     transition: 0.4s;
}

/* .Active {
     background: rgb(84, 84, 216);
} */

nav ul li a:hover {
     background: rgb(84, 84, 216);
}
.btn1 {
     
     font-family: 'League Gothic', sans-serif;
     padding: 5px 25px;
     font-size: 25px;
     border: none;
     border-radius: 10px;
     background-color: rgb(84, 84, 216);
     color: white;
     transition: 0.4s;
}
.btn1:hover{
     transition: 0.3s;
     background-color: #3D2C8D;
}
#img-nav{
     visibility: visible;
}
/* LOGIN */

.img-container{
     align-items: center;
     overflow: hidden;
     height: 100%;
}
.img-con2 .img-slider{
     align-items: center;
     justify-content: center;
     
}
.img-con2{
     display: flex;
     animation: slide 10s infinite;
}
.img-slider{ 
     opacity: 0.3;
     height: 100%;
     width: 100%;
     justify-content: center;
}
.img-container h2{
     position: absolute;
     font-family: 'League Gothic', sans-serif;
     top: 40%;
     width: 100%;
     text-align: center;
     font-size: 50px;
     color: white;
     font-weight: bold;
}

.mob-container{
     bottom: 100%;
     /* height: 90%; */
     align-items: center;
     justify-content: center;
}
.mobil-container{
     margin: 0 10%;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center; 
}
#nama-mobil{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
.txt-veh{
     padding-top: 85px;
     padding-bottom: 15px;
     text-align: center;
     color: white;
     text-overflow: ellipsis;
     font-family: 'League Gothic', sans-serif;
     font-size: 100px;
}
.grid{
     text-align: center;
     background-color: white;
     padding: 15px;
     margin: 10px;
     width: 200px;
     
     transition: 0.3s;
     border-radius: 10px;
     
}
.mobil-container .grid .mobil-book{
     font-family: 'League Gothic', sans-serif;
     padding: 8px 25px;
     font-size: 25px;
     border: none;
     border-radius: 10px;
     background-color: rgb(84, 84, 216);
     color: white;
     width: 100%;
}
.mobil-container .grid:hover{
     padding: 18px;
}
/* Form BookNow */

.contactus-container{
     height: 80%;
     width: 100%;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     
     /* backdrop-filter: blur(3px); */
     /* background-color: rgba(41, 40, 40, 0.4); */
     transition: 0.4s;
}
.form-contactus{
     position: relative;
     /* justify-content: center; */
     width: 420px;
     height: 440px;
     padding: 10px;
     background-color: white;
     /* overflow: hidden; */
}
.form-contactus{
     background-color: transparent;
     text-align: center;
     border-radius: 10px;
     padding: 10px 5px;
     justify-content: center;
     align-items: center;
     position: absolute;
     transition: 0.2s;
}
.form-contactus form .box{
     border: none;
     margin: 5px -3px ;
     width: 100%;
     padding: 12px 5px;
     border-radius: 10px;
     font-size: 15px;
}
.form-contactus form .btn{
     font-family: 'League Gothic', sans-serif;
     padding: 8px 25px;
     font-size: 25px;
     border: none;
     border-radius: 10px;
     background-color: rgb(84, 84, 216);
     color: white;
     width: 100%;
     cursor: pointer;
}
@keyframes slide{
     0%{
          transform: translateX(100%);
     }
     25%{
          transform: translateX(0);
     }30%{
          transform: translateX(-100%);
     }50%{
          transform: translateX(-100%);
     }55%{
          transform: translateX(-200%);
     }75%{
          transform: translateX(-200%);
     }80%{
          transform: translateX(-300%)
     }100%{
          transform: translateX(-400%);
     }
}
@media screen and (max-width : 1320px) {
     header{
          padding: 0 30px;
     }
     nav ul li {
          margin: 0 20px;
          font-size: 28px;
     }
     label.logo {
          font-size: 43px;
          padding: 0 50px;
     }
     a.login{
          padding: 0 50px;
     }
}
@media screen and (max-width : 1100px) {
     header{
          padding: 0 30px;
     }
     nav ul li {
          margin: 0 10px;
          font-size: 25px;
     }
     .btn1{
          padding: 3 20px;
          font-size: 20px;
     }
     label.logo {
          font-size: 43px;
          padding: 0 30px;
     }
}
@media screen and (max-width : 600px) {
     header{
          padding: 0 20px;
     }
     nav ul li {
          margin: 0 5px;
          font-size: 20px;
     }
     .btn1{
          padding: 3 15px;
          font-size: 15px;
     }
     label.logo {
          font-size: 30px;
          padding: 0 10px;
     }
}

